
body{
    font-family: 'Ranga', cursive;
    color: #1A1A1D;

}
.Name{
    padding: 0;
    display: inline-flex;
    font-size: 30px;
    -webkit-text-stroke: 1px #1A1A1D;
    
}
#navbarNavDropdown{
    margin-left: 200px;
}

.nav-link h1{
    padding-left: 80px;
}
nav{
    background-color: #1A1A1D;
}








@media only screen and (max-width: 400px){
    
    #navbarNavDropdown{
        margin-left: 0;
    }
}