
body{
    font-family: 'Ranga', cursive;
    color: #1A1A1D;

}
.Name{
    padding: 0;
    display: inline-flex;
    font-size: 30px;
    -webkit-text-stroke: 1px #1A1A1D;
    
}
#navbarNavDropdown{
    margin-left: 200px;
}

.nav-link h1{
    padding-left: 80px;
}
nav{
    background-color: #1A1A1D;
}
.mapouter{
    position:relative;text-align:right;height:424px;width:799px;
    margin-top: 250px ;
    margin-left: 465px;
}

.p1{
    margin-top: 200px ;
    margin-left: 100px;

}







@media only screen and (max-width: 400px){
    
    #navbarNavDropdown{
        margin-left: 0;
    }
}