
.Name{
    padding: 0;
    display: inline-flex;
    font-size: 30px;
    -webkit-text-stroke: 1px #1A1A1D;
    
}
#navbarNavDropdown{
    font-size: 27px;
    margin-left: 200px;
    font-weight: bold;
}

.nav-link p{
    padding-left: 80px;
}

nav{
    background-color: #1A1A1D;
}
.mapouter{
    position:relative;text-align:right;height:424px;width:799px;
    margin-top: 5px ;
    margin-left: 465px;
    padding-bottom: 5px;

}

.p1{
    margin-top: 200px ;
    margin-left: 100px;

}



.nav-item {
        font-family: 'Ranga', cursive;
    color: #1A1A1D;
}



article{
    background-color: #6F2232;
}



















@media only screen and (max-width: 500px){
    
    #navbarNavDropdown{
        margin-left: 0;
        text-align: left;
    }
}