body{
    font-family: 'Ranga';
  /*  background-image: url(/Roy/images/backgroundOriginal.jpg);*/
  background-color: #1a1a1d;
    color: white;

}
 
.navbar-nav > li{
    padding-left: 30px;
    padding-right: 30px;

}